/* Global styles  */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6faff;
  color: #332c35;
  font-family: Poppins, sans-serif;
}

p {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: #403843;
  text-align: left;
  text-decoration: underline 7px #83c0c1;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

header {
  background-color: #8300e0;
  display: flex;
  position: fixed;
  justify-content: end;
  width: 100%;
}

.nav-el {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  padding: 30px 100px 20px;
  gap: 40px;
}

.about-section {
  background-color: #8300e0;
  color: white;
}

/* Mobile */

@media (width >= 320px) {
  .container {
    width: 95%;
    justify-content: center;
    padding: 0;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }

  header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
  }

  .nav-el {
    letter-spacing: 1px;
  }

  .logo-img {
    width: 150px;
    height: 150px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px;
  }

  .about-text {
    margin-left: 10px;
  }

  .about-section p {
    font-size: 20px;
    font-weight: 200;
  }

  .about-section h2 {
    font-size: 28px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
  }

  /* Skills section  */

  .tech-stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

  .skills-title {
    margin-top: 50px;
  }

  .tech-stacks-text {
    width: 100%;
    margin: 50px 0;
  }

  .stacks-img:hover {
    transform: scale(1.2);
  }

  .tech-stacks-img img {
    width: 60px;
    padding: 10px;
  }

  /* Project section */

  .project {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-card h3,
  .project-card-back h3 {
    text-transform: uppercase;
    margin: 20px 0;
  }

  .project h2 {
    text-decoration: underline 7px #8300e0;
  }

  .project-card p {
    margin-bottom: 20px;
  }

  .project-card {
    padding-bottom: 60px;
    transition: opacity 1s ease-out;
  }

  .project-card a {
    color: #83c0c1;
    text-decoration: underline;
    font-weight: 600;
  }

  .project-card-back {
    background-color: #8300e0;
    color: white;
    text-align: center;
    padding: 10px 0 20px;
    width: 100%;
    transition: opacity 1s ease-out;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0 50px;
  }

  .about-me-icons {
    width: 25px;
    margin: 20px 10px;
  }

  .about-me-photo {
    width: 150px;
    margin-left: 20px;
    border-radius: 50%;
    border: 5px solid #83c0c1;
  }

  /* Footer  */

  footer {
    background-color: #83c0c1;
    padding: 30px;
    bottom: 0;
  }
}

/* TABLET */

@media (width >= 768px) {
  .container {
    width: 95%;
    justify-content: center;
    padding: 0;
  }

  /* Mobile Header  */

  .logo-img {
    width: 100px;
    height: 100px;
  }

  header {
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: center;
  }

  .nav-el {
    letter-spacing: 1px;
    padding: 20px 50px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    margin-left: 10px;
  }

  .about-section p {
    font-size: 20px;
    font-weight: 200;
  }

  .about-section h2 {
    font-size: 28px;
  }

  /* Skills section  */
  .tech-stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }

  .skills-title {
    margin-top: 50px;
  }

  .tech-stacks-text {
    width: 100%;
    margin: 50px 0;
  }

  /* Project section */
  .project {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-card h3,
  .project-card-back h3 {
    text-transform: uppercase;
    margin: 20px 0;
  }

  .project-card p {
    margin-bottom: 20px;
  }

  .project-card {
    padding: 20px 0;
    transition: opacity 1s ease-out;
  }

  .project-card a {
    color: #83c0c1;
    text-decoration: underline;
    font-weight: 600;
  }

  .project-card-back {
    background-color: #8300e0;
    color: white;
    text-align: center;
    padding: 10px 0 40px;
    width: 100%;
    transition: opacity 1s ease-out;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0 50px;
  }

  .about-me-photo {
    width: 150px;
    margin-left: 20px;
    border-radius: 50%;
    border: 5px solid #83c0c1;
  }
}

/* DESKTOP */
@media (width >= 1024px) {
  /* Skills section  */
  .about-section {
    background-color: #8300e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 100px 20px;
    color: white;
  }

  .logo-img {
    width: 250px;
    height: 250px;
  }

  .about-text {
    margin-left: 40px;
  }

  .about-section p {
    font-size: 30px;
    font-weight: 200;
  }

  .about-section h2 {
    font-size: 48px;
    color: white;
    text-transform: none;
    text-decoration: none;
  }

  /* Tech stacks section */
  .skills-section {
    display: flex;
    flex-direction: column;
  }

  .tech-stacks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tech-stacks-text {
    margin-left: 60px;
    width: 50%;
  }

  .tech-stacks-img {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .stacks-img {
    transition: transform 0.2s;
  }

  .tech-stacks-img img {
    width: 100px;
  }

  /* Projects section  */
  .project {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project-card h3,
  .project-card-back h3 {
    text-transform: uppercase;
    margin: 20px 0;
  }

  .project-card p {
    margin-bottom: 20px;
  }

  .project-card {
    width: 20%;
    margin-top: 20px;
    padding: 20px 0;
    transition: opacity 1s ease-out;
  }

  .project-card a {
    color: #83c0c1;
    text-decoration: underline;
    font-weight: 600;
  }

  .project-card-back {
    background-color: #8300e0;
    color: white;
    text-align: center;
    width: 20%;
    margin-top: 20px;
    padding: 10px 0 40px;
    transition: opacity 1s ease-out;
  }

  /* About me */
  .about-me {
    padding: 150px 0 50px;
    display: flex;
    flex-direction: row;
  }

  .about-me h2,
  .about-me p {
    margin-bottom: 60px;
  }

  .about-me-photo {
    width: 250px;
    margin-left: 50px;
    border-radius: 50%;
    border: 5px solid #83c0c1;
  }
}
