/* GLOBAL STYLES  */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6faff;
  color: #332c35;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: #403843;
  text-align: left;
  text-decoration: underline 7px #83c0c1;
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

/* MOBILE RESPONSIVE */

@media (width >= 320px) {
  h2 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }

  header {
    background-color: #8300e0;
    position: fixed;
    width: 100%;
    align-items: center;
  }

  .nav-el {
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  .logo-img {
    width: 200px;
    height: 200px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8300e0;
    color: white;
    padding: 70px 0 20px;
  }

  .about-text {
    margin-left: 10px;
  }

  .about-section p {
    font-size: 24px;
    font-weight: 200;
  }

  .about-section h2 {
    font-size: 32px;
    text-decoration: none;
    text-transform: none;
    color: white;
    margin-bottom: 10px;
  }

  /* SKILL SECTION  */
  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    padding-top: 30px;
  }

  .tech-stacks-img {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .skills-title h2 {
    margin: 50px 0;
  }

  .tech-stacks-text {
    width: 100%;
    margin: 50px 0 20px;
  }

  .stacks-img {
    transition: transform 0.2s;
    width: auto;
    height: 40px;
  }

  .stacks-img-2 {
    width: 80px;
    height: auto;
    transition: transform 0.2s;
  }

  .stacks-img:hover,
  .stacks-img-2:hover {
    transform: scale(1.2);
  }

  /* PROJECT SECTION  */
  .project {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }

  .project-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    transition: opacity 1s ease-out;
  }

  .project-card h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .project-title h2 {
    text-decoration: underline 7px #8300e0;
    text-align: center;
  }

  .button {
    background-color: #f2e5fb;
    color: #332c35;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    padding: 12px;
    letter-spacing: 1px;
    border-radius: 7px;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
  }

  .button:hover {
    background-color: #e6ccf8;
  }

  /* ABOUT ME */
  .about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px 0;
  }

  .about-me-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me-photo {
    width: 180px;
    border-radius: 50%;
    border: 5px solid #83c0c1;
  }

  .about-me-icons {
    width: 25px;
    margin: 10px;
  }

  .my-stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .my-stat h3 {
    font-family: Oswald, sans-serif;
    opacity: 0.7;
    font-size: 24px;
    color: #83c0c1;
  }

  .my-stat p {
    font-weight: 400;
    opacity: 0.7;
    text-transform: uppercase;
  }

  .text-stat-div {
    display: flex;
    flex-direction: column;
  }

  /* FOOTER  */
  footer {
    background-color: #83c0c1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
  }
}

/* DESKTOP RESPONSIVE */
@media (width >= 1024px) {
  h2 {
    margin-bottom: 10px;
  }

  .nav-el {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 50px;
    gap: 40px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    padding: 70px 50px 0;
  }

  .logo-img {
    width: 250px;
    height: 250px;
  }

  .about-text {
    margin-left: 40px;
  }

  .about-section p {
    font-size: 30px;
  }

  .about-section h2 {
    font-size: 48px;
  }

  /* SKILL SECTION  */
  .tech-stacks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .skills-title h2 {
    text-align: left;
  }

  .tech-stacks-text {
    margin-left: 60px;
  }

  /* PROJECT SECTION  */
  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-title h2 {
    width: 10%;
  }

  .project-card {
    padding: 20px 0;
  }

  .project-item {
    width: 23%;
    height: auto;
  }

  .about-me-bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-stat-div {
    padding: 50px;
  }
}
